.button{
	background: url(http://www.ashleyjt.net/windows/images/Android.png) /* Url de la imagen */ no-repeat center center, #A9F5F2 /* Color del botón */;
	background-size: 20%; /* Tamaño de la imagen */
  	height: 50px;  /* Alto del botón */
  	width: 40px;  /* Ancho del botón */
  	border-radius: 30%;
  	cursor: pointer;
    box-shadow:
/* Sombras externa */
	inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
/* Sombra interna */
	0 5px 20px rgba(0,0,0,.1);
}

.display input{
	position: relative;
	left: 1px;
	top:1px;
	height: 35px;
	color: black;
	text-align: right;
	font-size: 21px;
	font-family: verdana;
}
.calculadora {
	border: 5px 
	blue ridge; 
	width: 250px;
	text-align: center;
    background-color: #D358F7;
}